---
layout: page
title: 博文
permalink: /blog/
---

<div class="home">

  <h1 class="page-heading">博文</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      {% if post.headimage %}
        <div class="post-show-image">
          <a class="post-show-image-link" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url('{{ post.headimage }}');">
        </div>
      {% endif %}
      <div class="post-show-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <div class="post-description">{{ post.description }}</div>
        <span class="post-category post-category-{{ post.category }}"></span>
        <span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="link-button">订阅本站RSS</a>
  <a href="https://www.70apps.com/default.htm" class="link-button">我的作品</a>
</p>

</div>
<style>
  .page-content:before {
    background-image: url('{{ page.headimage }}');
    display: block;
  }

  .page-content:after {
    display: block;
  }
</style>
