<footer class="site-footer">

  <div class="wrapper">

      <div class="google-ad">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4189184568187692"
         crossorigin="anonymous"></script>
    <!-- 正方形广告 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4189184568187692"
         data-ad-slot="5152688129"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
      </div>
<center class="footer-heading">
    <h2>
      {{ site.me }}
      </h2>
<h3>{{ site.ad }}</h3>
<h5>{{ site.copyright }}</h3>
<a href='/'>होम</a> |
<a href='/about/'>हमारे बारे में</a> |
<a href='/tags/'>टैग्स</a> |
<a href='mailto:{{ site.email }}'>संपर्क करें</a>
</center>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
        </ul>
      </div>
    </div>

  </div>

</footer>
