.highlight table { 
  margin: 5px 0;
  border: 0;
  background: linear-gradient(#2c2c2e 50%, #1c1c1e 50%); 
  background-size: 100% 48px;
}

.highlight table th { 
  padding: 0 5px; 
  border: 0;
  background-color: transparent !important;
}

.highlight table td { 
  padding: 0 5px; 
  border: 0;
  background-color: transparent !important;
}

.highlight table td.gl { 
  width: 0; 
  text-align: right;
  border-right: 1px solid #3a3a3c;
}

.highlight table pre { 
  padding: 0; 
  margin: 0; 
  border: 0;
  padding-right: 2px;
  line-height: 24px;
}

div.highlight, figure.highlight {
  background-color: transparent !important;
}

pre.highlight, pre.highlight .w { 
  color: #c6c7c8; 
}

figure.highlight > pre { 
  color: #c6c7c8; 
  background-color: #1c1c1e;
}
